<!--INVOCANDO LOS ESTILOS-->
<link href="~/Content/Blog/responsive.css" rel="stylesheet" />
<link href="~/Content/Blog/styles.css" rel="stylesheet" />
<link href="~/Content/Common.css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Common.css/ionicons.css" rel="stylesheet" />
<link href="~/Content/Common.css/swiper.css" rel="stylesheet" />
<div class="top-menu">
<!--FIN DE LA INVOCACION-->


    <!--Entradas del blog-->
    <section class="blog-area" style="position:relative; top:-150px">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-12">
                    <div class="blog-posts">
                        <!--entrada 1-->
                        <div class="post-author">
                            <!--Inicio de la informacion del autor-->
                            <div class="author-info">
                                <!--titulo-->
                                <h4 class="name"><b class="light-color">MUSTACCHIO</b></h4>
                                <!--Fin del titulo-->
                                <!--inicio del parrafo-->
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    dolore magnam aliquam quaerat voluptatem.
                                </p>
                                <!--fin del parrafo-->
                                <!--inicio de los iconos-->
                                <ul class="social-icons">
                                    <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                                </ul>
                                <!--fin de los iconos-->
                            </div>
                            <!--fin de la informacion del autor-->
                        </div>
                        <!--fin de la entrada 1-->
                        <!--==============================================================================================================================-->
                        <!--entrada 2-->
                        <div class="post-author">
                            <!--Inicio de la informacion del autor-->
                            <div class="author-info">
                                <!--titulo-->
                                <h4 class="name"><b class="light-color">MUSTACCHIO</b></h4>
                                <!--Fin del titulo-->
                                <!--inicio del parrafo-->
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    dolore magnam aliquam quaerat voluptatem.
                                </p>
                                <!--fin del parrafo-->
                                <!--inicio de los iconos-->
                                <ul class="social-icons">
                                    <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                                </ul>
                                <!--fin de los iconos-->
                            </div>
                            <!--fin de la informacion del autor-->
                        </div>
                        <!--fin de la entrada 2-->
                        <!--================================================================================================================================-->
                        <!--entrada 3-->
                        <div class="post-author">
                            <!--Inicio de la informacion del autor-->
                            <div class="author-info">
                                <!--titulo-->
                                <h4 class="name"><b class="light-color">MUSTACCHIO</b></h4>
                                <!--Fin del titulo-->
                                <!--inicio del parrafo-->
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                    dolore magnam aliquam quaerat voluptatem.
                                </p>
                                <!--fin del parrafo-->
                                <!--inicio de los iconos-->
                                <ul class="social-icons">
                                    <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                                    <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                                </ul>
                                <!--fin de los iconos-->
                            </div>
                            <!--fin de la informacion del autor-->
                        </div>
                        <!--fin de la entrada 3-->
                        
                    </div> <!--fin de todas las entradas-->
                </div>
                <!--fin del div de las columnas de las entradas-->
                <!--inicio del sidebar-->
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-area">

                        <div class="sidebar-section about-author center-text">

                            <ul class="social-icons">
                                <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                            </ul>

                            <h4 class="author-name"><b class="light-color">MUSTACCHIO</b></h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                dolore magnam aliquam quaerat voluptatem.
                            </p>


                            <a class="read-more-link" href="#"><b>Leer mas</b></a>

                        </div>

                        <div class="sidebar-section src-area">

                            <form action="post">
                                <input class="src-input" type="text" placeholder="Buscar">
                                <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>

                        </div>

                        <div class="sidebar-section newsletter-area">
                            <h5 class="title"><b>Suscribete a nuestro correo</b></h5>
                            <form action="post">
                                <input class="email-input" type="text" placeholder="Your email here">
                                <button class="btn btn-2" type="submit">SUBSCRIBE</button>
                            </form>
                        </div>

                    </div>
                </div>
                <!--fin del sidebar-->

            </div>
            <!--Fin class="row"-->
        </div>
        <!--fin class="container"-->
    </section>
    <!--Fin class="blog-area"-->
</div>