@{
    ViewBag.Title = "Nosotros";
}
<!--PAGINA DE NOSOTROS-->
<!--FONTS-->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<!--invocando las librerias-->
<link href="~/Content/Nosotros/responsive.css" rel="stylesheet" />
<link href="~/Content/Nosotros/styles.css" rel="stylesheet" />
<!--fin de la invocacion-->
<!--INICIO DEL BODY!!!!-->
<body>
    <!--AQUI ESTA TODO EL CONTENIDO DEL BODY-->
    <section class="blog-area"style="position:relative; top:190px">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-md-12">
                    <div class="blog-posts">

                        <div class="single-post">
                            <div class="image-wrapper">
                                <!--SU RESPECTIVA IMAGEN-->
                                <img src="~/Content/img/prim-and-proper.jpg" alt="Blog Image" />
                            </div>

                            <!--CON SU RESPECTIVO TITULO -->
                            <h3 class="title"><a href="#"><b class="light-color">This is post about travel, adventure and fun</b></a></h3>
                            <!--Y SU RESPECTIVO TEXTO-->
                            <p class="desc">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                dolore magnam aliquam quaerat voluptatem.
                            </p>
                            <!--Y SU RESPECTIVO TEXTO X2-->
                            <p class="desc">
                                Eerror sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                                dolore magnam aliquam quaerat voluptatem.
                            </p>

                            <br /> <br />
                        <!--LAS DOS IMAGENES QUE ESTAN ABAJO -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="image-wrapper"><img src="~/Content/img/mustache8.jpg" alt="Blog Image"></div>
                                </div><!-- col-sm-6 -->
                                <div class="col-sm-6">
                                    <div class="image-wrapper"><img src="~/Content/img/mustache7.jpg" alt="Blog Image"></div>

                                </div>
                            </div>

                        </div>

                        


                    </div>
                </div>

                <!--AQUI ESTA EL AREA DEL LADO O LA COLUMNA DEL LADO O SIDEBAR-->
                <div class="col-lg-4 col-md-12">
                    <div class="sidebar-area">

                        <div class="sidebar-section about-author center-text">
                            <div class="author-image"><img src="~/Content/img/mustache2.jpg" alt="Autohr Image"></div>
                         <!--SUS IMAGENES-->
                            <ul class="social-icons">

                                <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                            </ul><!-- --------------------------------------------------------------- -->
                        <!--TITULO -->
                            <h4 class="author-name"><b class="light-color">MUSTACCHIO</b></h4>
                        <!--TEXTO-->
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                dolore magnam aliquam quaerat voluptatem.
                            </p>
                        
                            
                        <!--LEER MAS -->
                            <a class="read-more-link" href="#"><b>READ MORE</b></a>

                        </div><!-- sidebar-section about-author -->

                       
                       
                        <!--CATEGORIA-->
                        <div class="sidebar-section category-area">
                        <!--TITULO DE CATEGORIA-->
                            <h4 class="title"><b class="light-color">Categories</b></h4>
                            <a class="category" href="#">
                                <!--IMAGEN-->
                                <img src="~/Content/img/mustache9.jpg" alt="Category Image">
                                <!--TITULO -->
                                <b> <Center> <h3 class="name">MODA</h3></Center></b>
                            </a>

                          
                        </div><!-- FIN DEL SIDEBAR -->

                       
                          

                        
    </section><!-- FIN DE LA SECCION -->


   

    <!-- SCRIPTS -->

    <script src="common-js/jquery-3.1.1.min.js"></script>

    <script src="common-js/tether.min.js"></script>

    <script src="common-js/bootstrap.js"></script>

    <script src="common-js/grasp_mobile_progress_circle-1.0.0.js"></script>

    <script src="common-js/embed.videos.min.js"></script>

    <script src="common-js/jquery.circliful.min.js"></script>

    <script src="common-js/scripts.js"></script>

</body>